# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 
# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes - esp when copied owver to windows
.DS_Store
 
# Exclude Text Files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude Fonts
_fonts/
 
